<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">
			<table>
				<tr>
					<td>
						<img alt="Cl_logo1" src="https://pbs.twimg.com/profile_images/516458536801300480/uag5d2ub_400x400.png" style="width:50px; margin-top:-5px">
					</td>
					<td style="font-size:25px">{{ site.title }}</td>
				</tr>
			</table>
		</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
					    {% if link.url contains 'http' %}
					        {% assign domain = '' %}
					        {% else %}
					        {% assign domain = site.url %}
					    {% endif %}
					    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
					  {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
