<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap" style="background-color:black; color:white">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  
		<div style="width:80%; margin:0 auto; text-align:center; padding-bottom: 1em">
			<h3 style="margin-bottom:0.1em">911Bangalore is a <span style="color:red">mobile app</span> that lets you reach to Bangalore top cops for help</h3>
			<h4 style="margin-top:0.1em">The app is still under production. Follow us on Twitter for updates.</h4>
			<a href="http://twitter.com/911bangalore" class="btn btn-danger">Follow on Twitter</a>	
		</div>
  </div><!-- /.image-wrap -->
{% endif %}


<div id="main" role="main">
	<div id="index" style="margin:0 auto; display:block; float:none">
	  <h3 id="how-it-works">How it works</h3>
	  <ol>
		 <li>The app lets you record your moment of distress through video, audio or call recording.</li>
		 <li>It tweets it with your contact number & location information to Bangalore Commissioner of Police @CPBlr.</li>
		 <li>Police deploys help to you if you need it to your location.</li>
	  </ol>
	  <h3 style="margin-top:2em" id="posts">Blog Posts<small><br/>List of posts detailing the distress encounters & the app experience of people</small></h3>
	  <table id="blog-post-list">
		  {% for post in site.posts %}    
		  <tr>
			  <td style="text-align:left">
				  <time datetime="2014-09-20" class="icon">
				  <em>{{ post.date | date: "%A" }}</em>
				  <strong>{{ post.date | date: "%Y %b" }}</strong>
				  <span>{{ post.date | date: "%-d" }}</span>
				  </time>
			  </td>
			  <td>&nbsp;</td>
			  <td>
				  {% if post.link %}
				  <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
				  {% else %}
				  <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
				  <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
				  {% endif %}
			  </td>
		  </tr>
		  {% endfor %}
	  </table>
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
	<footer>
	{% include _footer.html %}
	</footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

	</body>
</html>
